/* Organic Result (including subresults, which are indented) */
div.relevance{
    height: 100px
}
/* div.confidence{
    position: absolute;
} */

div.relevance div {
    /* float: left; */
    list-style-type: none;
    padding: 5px;
    /* display: block;
    font-size: 14px;
    color: #202124; */
}
div.confidence ul li {
    float: left;
    list-style-type: none;
    padding: 10px;
    /* display: block;
    font-size: 14px;
    color: #202124; */
}


    
/* Box Element Container */

div.box-container {
    border: 1px solid #DFE1E5;
    border-radius: 8px;
}


/* Answer card */

div.answer-card {
    /* min-height: 170px; */
    padding: 0 0 20px;
    margin-top: 12px;
    /* margin-bottom: 50px !important; */
    position: relative;
    border-bottom: 1px solid #DADCE0;
}

div.answer-card > div.flex-container > div.left-container > ul.categories {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 14px;
    line-height: 22.12px;
    list-style-type: none;
}

div.answer-card > div.flex-container > div.left-container > ul.categories li {
    display: inline;
    color: #202124;
}

div.answer-card > div.flex-container > div.left-container > ul.categories li::after {
    content: "\00a0/";
    color: #202124;
}

div.answer-card > div.flex-container > div.left-container > ul.categories li:last-of-type:after {
    content: "";
}

div.answer-card > div.flex-container > div.left-container > ul.categories li:first-of-type {
    color: #70757A;
}

div.answer-card > div.flex-container > div.left-container > span.answer {
    font-size: 16px;
    line-height: 24px;
    padding: 0 8px 0 0;
    text-align: left;
    color: #202124;
}

div.answer-card > div.flex-container > div.left-container > span.answer-supplementary {
    display: block;
    margin-top: 13px;
    font-size: 14px;
    line-height: 22.10px;
    white-space: nowrap;
    color: #70757A;
}

div.answer-card > div.flex-container > div.right-container > img {
    max-height: 160px;
    border-radius: 8px;
}

div.answer-card > span.feedback {
    position: absolute;
    right: 0;
    bottom: -8px;
    font-size: 12px;
    color: #70757A;
    padding-left: 16px;
    background-color: #FFF;
}

    div.answer-card > span.feedback a, div.answer-card > span.feedback a:visited, div.answer-card > span.feedback a:hover {
        color: #70757A;
        text-decoration: none;
    }

div.answer-card > span.also-header {
    display: block;
    margin: 20px 0 10px 0;
    font-family: 'Product Sans Regular', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #202124;
}

div.answer-card > ul.also {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    justify-content: start;
    column-gap: 14px;
    list-style-type: none;
}

    div.answer-card > ul.also li {
        display: block;
        flex: 1;
        max-width: 50px;
        height: 108px;
    }

    div.answer-card > ul.also li a {
        display: block;
    }

        div.answer-card > ul.also li a:hover {
            text-decoration: none;
        }

    div.answer-card > ul.also li img {
        display: block;
        border-radius: 8px;
    }

    div.answer-card > ul.also li span {
        display: block;
        height: 54px;
        margin-top: 3px;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
    }
