/* Organic Result (including subresults, which are indented) */
div.relevance{
    height: 100px
}
/* div.confidence{
    position: absolute;
} */
div.stroop span{
    font-size: xxx-large;
    text-align: center;
}

div.stroop_m{
    visibility: hidden;
    font-size: large;
    margin: 25px;
    text-align: center;
}

div.stroop div{
    margin: 25px 0 0 0px;
    margin-left: 35%;
    display: block;
    width: 90%;
    /* text-align: center; */
    font-size: xx-large;
}
div.relevance div {
    /* float: left; */
    list-style-type: none;
    padding: 5px;
    /* display: block;
    font-size: 14px;
    color: #202124; */
}


div.relevance ul li {
    float: left;
    list-style-type: none;
    padding: 10px;
    /* display: block;
    font-size: 14px;
    color: #202124; */
}
div.confidence ul li {
    float: left;
    list-style-type: none;
    padding: 10px;
    /* display: block;
    font-size: 14px;
    color: #202124; */
}



    
/* Box Element Container */

div.box-container {
    border: 1px solid #DFE1E5;
    border-radius: 8px;
}


/* Answer card */

div.answer-card {
    /* min-height: 170px; */
    padding: 0 0 20px;
    margin-top: 12px;
    /* margin-bottom: 50px !important; */
    position: relative;
    border-bottom: 1px solid #DADCE0;
}

div.answer-card > div.flex-container > div.left-container > ul.categories {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 14px;
    line-height: 22.12px;
    list-style-type: none;
}

div.answer-card > div.flex-container > div.left-container > ul.categories li {
    display: inline;
    color: #202124;
}

div.answer-card > div.flex-container > div.left-container > ul.categories li::after {
    content: "\00a0/";
    color: #202124;
}

div.answer-card > div.flex-container > div.left-container > ul.categories li:last-of-type:after {
    content: "";
}

div.answer-card > div.flex-container > div.left-container > ul.categories li:first-of-type {
    color: #70757A;
}

div.answer-card > div.flex-container > div.left-container > span.answer {
    font-size: 16px;
    line-height: 24px;
    padding: 0 8px 0 0;
    text-align: left;
    color: #202124;
}

div.answer-card > div.flex-container > div.left-container > span.answer-supplementary {
    display: block;
    margin-top: 13px;
    font-size: 14px;
    line-height: 22.10px;
    white-space: nowrap;
    color: #70757A;
}

div.answer-card > div.flex-container > div.right-container > img {
    max-height: 160px;
    border-radius: 8px;
}

div.answer-card > span.feedback {
    position: absolute;
    right: 0;
    bottom: -8px;
    font-size: 12px;
    color: #70757A;
    padding-left: 16px;
    background-color: #f5f5f7;
}

    div.answer-card > span.feedback a, div.answer-card > span.feedback a:visited, div.answer-card > span.feedback a:hover {
        color: #70757A;
        text-decoration: none;
    }

div.answer-card > span.also-header {
    display: block;
    margin: 20px 0 10px 0;
    font-family: 'Product Sans Regular', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #202124;
}

div.answer-card > ul.also {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    justify-content: start;
    column-gap: 14px;
    list-style-type: none;
}

    div.answer-card > ul.also li {
        display: block;
        flex: 1;
        max-width: 50px;
        height: 108px;
    }

    div.answer-card > ul.also li a {
        display: block;
    }

        div.answer-card > ul.also li a:hover {
            text-decoration: none;
        }

    div.answer-card > ul.also li img {
        display: block;
        border-radius: 8px;
    }

    div.answer-card > ul.also li span {
        display: block;
        height: 54px;
        margin-top: 3px;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
    }

    .speech-bubble {
        position: relative;
        background: #00aabb;
        border-radius: .4em;
        /* padding: 10px 10px; */
        color: white;
        text-align: center;
        font-weight: bold;
    }
    .speech-bubble p {
        border-radius: 1.15rem;
        line-height: 1.25;
        padding: 0.5rem .875rem;
        position: relative;
        word-wrap: break-word;
      }
    p.question::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 18px solid transparent;
        border-left-color: #00aabb;
        border-right: 0;
        border-top: 0;
        margin-top: -9px;
        margin-right: -18px;
    }

    p.answer::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-right-color: #00aabb;
        border-left: 0;
        border-top: 0;
        margin-top: -6px;
        margin-left: -12px;
    }

/* New components */

span#answer {
    display: inline-block;
    margin-top: 50px;
    font-size: 16px;
    line-height: 24px;
    color: #202124;
}

span#heading {
    display: block;
    margin-top: 20px;
    font-size: 38px;
}

span#heading span {
    font-size: 48pt;
    font-weight: bold;
}

button.next-button {
    display: block;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

span#prompt {
    display: block;
    margin: 20px 0 30px 0;
    font-size: 18pt;
    text-align: center;
}

button.stroopButton{
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* padding: 7px 20px !important; */
    border-radius: 10px;
    margin: 20px auto 0px auto;
    width: 350px;
    transition: 0.3s;
    font-weight: bold;
    font-size: 24pt;
    padding: 20px;
    background: #C0C0C0;
    border: none;
  }
  
  button.stroopButton a {
    text-decoration: none;
    color: #fff;
  }
  
  button.stroopButton:hover{
    background-color: #333;
    color: #FFF;
    cursor: pointer;
   
  }
  button.stroopButton:hover a{
   color: #1ec279;
  }

  /* Test bullet points */

  ul.test-explainer {
    list-style-type: none;
    list-style-position: outside;
    margin: 0 0 0 0;
    padding: 0;
  }

  ul.test-explainer li {
    margin-top: 20px;
  }

  ul.test-explainer li > img {
    display: block;
    margin: 0 auto 0 auto;
    width: 300px;
  }

  ul.test-explainer li > hr {
    width: 50%;
  }

  ul.test-explainer li:last-child {
    padding-bottom: 20px;
  }

  img.overview {
    width: 650px;
    height: auto;
    margin: 20px auto 20px auto;
    display: block;
  }