ul#iterate-answers {
    margin: 20px 0 0 0;
    padding: 0;
    list-style-type: none;
}

ul#iterate-answers > li {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #C0C0C0;
}

ul#iterate-answers > li > span.answer-id {
    background: #3366FF;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

ul#iterate-answers > li > span.task-text {
    display: inline-block;
    font-weight: bold;
    margin: 0 0 10px 5px;
}

ul#iterate-answers > li > ul {
    list-style-type: square;
}

ul#iterate-answers > li > ul > li {
    margin-bottom: 5px;
    line-height: 22px;
}