ul.check-list-items {
    line-height: 23px;
}

ul.check-list-items li {
    margin-bottom: 5px;
}

button.start-button {
    display: block;
    margin-top: 20px;
    margin-left: 50%;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}